.demo{
  background-color: yellow;
}
.greetings-cart{
  border : 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: lightblue;
}

.poducts_parents{
  border : 2 px solid balck;
  border-radius: 5px;
  padding : 10px;
  background-color: rgb(140, 192, 140);
}

.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-cart{
  border : 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgreen;
}

.unothorized-message-cart{
  border : 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: lightcoral;
}
